* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height:1.6;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#daa1a1;
    
}

.logo{
    color:rgb(19, 17, 17);
}

.nav-links{
    display:flex;
    list-style:none;
}
.nav-links li{
    margin-left:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}